{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block heading %}{{ title }}{% endblock %}

{% block sidebar %}
  {% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
    {% for item in news %}
      {% if item.is_published %}
        <div class="card mb-3">
          <div class="card-header">
            Категория: <a href="{% url 'category' item.category.pk %}">{{ item.category }}</a>
          </div>
          <div class="card-body">
            <div class="media">
              {% if item.photo %}
                <img src="{{ item.photo.url }}" alt="img" width="350" class="mr-3">
              {% endif %}
              <div class="media-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.content|safe|linebreaksbr|truncatewords:50 }}</p>
                <a href="#" class="btn btn-primary">Подробнее...</a>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            {{ item.created_at|date:"d.m.Y H:i" }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
{% endblock %}
