{% extends 'base.html' %}

{% block title %}{{ news.title }}{% endblock %}

{% block heading %}{{ news.title }}{% endblock %}

{% block sidebar %}
  {% include 'include/_sidebar.html' %}
{% endblock %}

{% block content %}
        <div class="card mb-3">
          <div class="card-header">
            Категория: <a href="{{ news.category.get_absolute_url }}">{{ news.category }}</a>
          </div>
          <div class="card-body">
            <div class="media">
              {% if news.photo %}
                <img src="{{ news.photo.url }}" alt="img" width="350" class="mr-3">
              {% endif %}
              <div class="media-body">
                <h5 class="card-title">{{ news.title }}</h5>
                <p class="card-text">{{ news.content|safe|linebreaksbr }}</p>
              </div>
            </div>
          </div>
          <div class="card-footer text-muted">
            <span>{{ news.created_at|date:"d.m.Y H:i" }}</span>
            <span style="float: right;">Количество просмотров: {{ news.views }}</span>
          </div>
        </div>
{% endblock %}
