  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    {% for item in news %}
    <div class="item">
      <h2>{{ item.title }}</h2>
      <span>{{ item.created_at |date:"d-m-Y" }}</span>
      <div class="text">{{ item.content }}</div>
    </div>
    <hr>
    {% endfor %}

  </body>
  </html>
