#header {
  background: #2f683d;
}

div.breadcrumbs {
  background: #284a35;
}

h1, #content-related .module h2,
a.section:link, a.section:visited {
  color: #f5dd5d;
}

.module caption {
  background: #183921;
}

a:link, a:visited {
  color: #59e37c;
}
